<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-1 col-lg-1 col-xl-1"></div>
        <div class="col-12 col-sm-12 col-md-10 col-lg-10 col-xl-10">
            <form>
                <div class="form-group">
                    <label for="naslov1">Naslov oglasa</label>
                    <input type="text" class="form-control" id="naslov1" placeholder="naslov..." name="naslov" [(ngModel)]='oglas.naslov'>
                </div>

                <div class="form-group">
                    <label for="tekst1">Tekst oglasa</label>
                    <textarea id="tekst1" name="tekst" rows="10" class="form-control" 
                                                                 [(ngModel)]='oglas.tekst' 
                                                                 placeholder="tekst..."></textarea>
                </div>
                <div class="form-group">
                    <label for="kategorije1">Odaberite kategoruju</label>
                    <select id="kategorije1" name="kategorije" class="custom-select" [(ngModel)]='oglas.kategorijaID' 
                                                                                     (ngModelChange)="izdvojPotkategorije()">
                        <!--Postoji i varijanta (change) umjesto (ngModelChange).-->
                        <!--(ngModelChange) ne bi moglo da se koristi bez ngModel direktive.-->
                        <!--(ngModelChange) se aktivira pri promjeni vrijednosti promjenljive koja je povezana sa [(ngModel)].-->
                        <!--(change) se aktivira pri promjeni vrijendostu HTML elementa.-->
                        <!--Za ovaj slucaj, je bolja varijanta (ngModelChange)?-->
                        <!-- <option *ngFor='let e of kategorije' value="{{e.id}}" [selected]="e.id == 7">
                                 {{e.naziv}}
                             </option> selected ne sluzi nicemu -->
                        <option value="-1">odaberite...</option>
                        <option *ngFor='let e of kategorije' value="{{e.id}}">{{e.naziv}}</option>
                    </select>
                </div>
                <div class="form-group" *ngIf='oglas.kategorijaID != -1'> <!-- Ne smije da stoji !==, nego samo != -->
                    <label for="podkategorije1">Odaberite podkategoruju</label>
                    <select id="podkategorije1" class="custom-select" [(ngModel)]='oglas.potkategorijaID' name="podkategorije">
                        <!--Mora name uz ngModel.-->
                        <option value="-1">odaberite...</option>
                        <option *ngFor='let e of podkategorijeIzdvojene' value="{{e.id}}">{{e.naziv}}</option>
                    </select>
                </div>
                <br>
                <button type="submit" class="form-control btn btn-primary" (click)='dodajOglas()'>Dodaj oglas</button>
            </form>
        </div>
        <div class="col-12 col-sm-12 col-md-1 col-lg-1 col-xl-1"></div>
    </div>
</div>

