<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-1 col-lg-1 col-xl-1"></div>
        <div class="col-12 col-sm-12 col-md-10 col-lg-10 col-xl-10">
            <div class="naslov display-4">dodajte nov oglas</div>
            <br>
            <form [formGroup]="oglasFormGroup" (ngSubmit)="objaviOglas(oglasFormGroup)">
                <div class="form-group">
                    <label for="naslov">Naslov oglasa</label>
                    <input id="naslov" class="form-control" placeholder="Upisite naslov..." formControlName="naslov">
                </div>
                <br>
                <div class="form-group">
                    <label for="tekst">Tekst oglasa</label>
                    <textarea id="tekst" class="form-control" placeholder="Upisite tekst..." formControlName="tekst"></textarea>
                </div>
                <br>
                <div class="form-group">
                    <label for="datVazenja">Rok važenja oglasa</label>
                    <input type="date" id="datVazenja" class="form-control" formControlName="datumVazenja">
                </div>
                <br>
                <div class="form-group">
                    <label for="kateg">Izaberite kategoriju</label>
                    <select id="kateg" class="form-control" formControlName="kategorijaID" (change)="kategProm($event.target.value)">
                        <option [ngValue]="-1">odaberite...</option>
                        <option *ngFor="let kategorija of kategorije | nizAbc:'naziv'" [ngValue]="kategorija.id">{{kategorija.naziv}}</option>
                    </select>
                </div>
                <br>
                <div class="form-group">
                    <label for="podkateg">Izaberite podkategoriju</label>
                    <select id="podkateg" class="form-control" formControlName="podkategorijaID">
                        <option [ngValue]="-1">odaberite...</option>
                        <option *ngFor="let podkategorija of podkategorije | nizFilter:oglasFormGroup.controls['kategorijaID'].value" 
                                [ngValue]="podkategorija.id">{{podkategorija.naziv}}</option>
                    </select>
                </div>
                <br>
                <div class="container-fluid pdn01">
                    <div class="form-group" formArrayName="fotografijeNiz">
                        <div *ngFor="let fotoContrl of oglasFormArray.controls; let i = index">
                            <div class="row">
                                <div class="col-9">
                                    <input type="file" class="form-control" [formControlName]="i" ng2FileSelect [uploader]='uploader'>
                                </div>
                                <div class="col-3">
                                    <button type="button" class="btn btn-danger btn-block" (click)="ukloniPoljeFoto(i)">Ukloni</button>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button type="button" class="btn btn-warning" [disabled]="oglasFormArray.length >=5" 
                                                                          (click)="josPoljaFoto()">Još fotografija</button>
                        </div>
                    </div>
                </div>
                <br><br>
                <button type="submit" class="btn btn-success btn-block">Objavi oglas</button>
            </form>
        </div>
        <div class="col-12 col-sm-12 col-md-1 col-lg-1 col-xl-1"></div>
    </div>

    <!-- <pre>
        {{ kategorije | nizAbc:'naziv' | json}}
    </pre> -->
    
</div>

<br><br><br>

