<div class="usrnm">{{ korisnickoIme }}</div>

<p class="naslov display-4">Registracija</p>

<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3"></div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <form>
                <div class="form-group">
                    <label for="ime1">Ime</label>
                    <input type="text" class="form-control" id="ime1" placeholder="Unesite ime" [(ngModel)]='korisnik.ime' name="ime">
                </div>
                <div class="form-group">
                    <label for="prezime1">Prezime</label>
                    <input type="text" class="form-control" id="prezime1" placeholder="Unesite prezime" [(ngModel)]='korisnik.prezime' name="prezime">
                </div>
                <div class="form-group">
                    <label for="korisn-ime1">Korisničko ime</label>
                    <input type="text" class="form-control" id="korisn-ime1" placeholder="Unesite korisničko ime" 
                                                                             [(ngModel)]='korisnik.username' name="usrnam">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Lozinka</label>
                  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Unesite lozinku" 
                                                                                         [(ngModel)]='korisnik.password' name="passwrd">
                </div>
                <br>
                <button type="submit" class="form-control btn btn-primary" (click)='registruj()'>Registruj se</button>
            </form>
        </div>
        <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3"></div>
    </div>
</div>

