<p class="naslov display-4">Registracija</p>

<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3"></div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <form [formGroup]="formaRegistracija" (ngSubmit)="registruj(formaRegistracija)">
                <br>
                <div class="form-group">
                    <label for="ime">Ime</label>
                    <input type="text" id="ime" class="form-control" placeholder="Unesite Vaše ime" formControlName="ime">
                    <div class="alert alert-danger" role="alert" *ngIf="formaRegistracija.controls['ime'].hasError('required') && 
                                                                    (formaRegistracija.controls['ime'].touched || formaPotvrdjena)">
                        Ime je obavezno!
                    </div>
                    <div class="alert alert-danger" role="alert" *ngIf="formaRegistracija.controls['ime'].hasError('pattern')">
                        Početno veliko, ostalo mala slova!
                    </div>
                </div>
                <div class="form-group">
                    <label for="prezime">Prezime</label>
                    <input type="text" id="prezime" class="form-control" placeholder="Unesite Vaše prezime" formControlName="prezime">
                    <div class="alert alert-danger" role="alert" *ngIf="formaRegistracija.controls['prezime'].hasError('required') && 
                                                                    (formaRegistracija.controls['prezime'].touched || formaPotvrdjena)">
                        Prezime je obavezno!
                    </div>
                    <div class="alert alert-danger" role="alert" *ngIf="formaRegistracija.controls['prezime'].hasError('pattern')">
                        Početno veliko, ostalo mala slova!
                    </div>
                </div>
                <div class="form-group">
                    <label for="korisnicko">Korisničko ime</label>
                    <input type="text" id="korisnicko" class="form-control" 
                                                        placeholder="Unesite Vaše korisničko ime" formControlName="korisnicko" maxlength="10">
                    <div class="alert alert-danger" role="alert" *ngIf="formaRegistracija.controls['korisnicko'].hasError('required') && 
                                                                    (formaRegistracija.controls['korisnicko'].touched || formaPotvrdjena)">
                        Korisničko ime je obavezno!
                    </div>
                    <div class="alert alert-danger" role="alert" *ngIf="formaRegistracija.controls['korisnicko'].hasError('minlength')">
                        Minimalna duzina je 3!
                    </div>
                    <div class="alert alert-danger" role="alert" *ngIf="formaRegistracija.controls['korisnicko'].errors?.korisnickoPostoji">
                        Korisničko ime već postoji!
                    </div>
                </div>
                <div class="form-group">
                    <label for="lozinka">Lozinka</label>
                    <input type="password" id="lozinka" class="form-control" placeholder="Unesite Vašu lozinku" formControlName="lozinka">
                    <div class="alert alert-danger" role="alert" *ngIf="formaRegistracija.controls['lozinka'].hasError('required') && 
                                                                    (formaRegistracija.controls['lozinka'].touched || formaPotvrdjena)">
                        Lozinka je obavezna!
                    </div>
                </div>
                <br>
                <button type="submit" class="btn btn-primary btn-block">Registrujte se</button>
                <br><br><br>
            </form>
        </div>
        <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3"></div>
    </div>
</div>

