<p class="naslov display-4">oglas</p>

<div class="naslov-ogl">{{oglas.naslov}} </div>

<br>

<div class="lead">{{oglas.tekst}}</div>

<br>

<div class="responsive" *ngFor="let slika of (oglas.fotografije | nizNazivaSlika)">
    <a target="_blank" [href]="url + '/' + slika">
        <img class="img-thumbnail" [src]="slika ? url + '/' + slika : './../../../assets/slike/no-image-available.png'">
    </a>
</div>

<div class="responsive" *ngIf='!oglas.fotografije'>
    <a target="_blank" href="./../../../assets/slike/no-image-available.png">
        <img class="img-thumbnail" src="./../../../assets/slike/no-image-available.png">
    </a>
</div>

<div class="clearfix"></div>

<br><br><br>

<div class="detalji"><span class="detalji2">Datum objave:</span> {{oglas.datumObjave}} | <span class="detalji2">Važi do:</span> {{oglas.datumVazenja ? oglas.datumVazenja : 'neograničeno'}}</div>

<div class="detalji"><span class="detalji2">Kategorija:</span> {{oglas.kategorija.naziv}} - {{oglas.podkategorija.naziv}}</div>

<div class="detalji"><span class="detalji2">Autor:</span> {{oglas.korisnik.ime + ' ' + oglas.korisnik.prezime}} </div>

<br><br><br>

