<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
            <div class="naslov display-4">opcija</div>
            <br>
            <a routerLink="/administrator/kategorije" class="list-group-item list-group-item-action list-group-item-info">Kategorije</a>
            <a routerLink="/administrator/podkategorije" class="list-group-item list-group-item-action list-group-item-info">Podkategorije</a>
            <a routerLink="" class="list-group-item list-group-item-action list-group-item-info">Korisnici</a>
            <br><br><br>
        </div>
        
        <div class="col-12 col-sm-12 col-md-9 col-lg-9 col-xl-9">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

