<div class="usrnm">{{ korisnickoIme }}</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
            <h1 class="naslov display-4">filter</h1>
            <div>
                <br>
                <h4>kategorije</h4>
                <form>
                    <div class="checkbox" *ngFor='let kategorija of kategorijeChecked; index as i'>
                        <label><input type="checkbox" value="" (change)='chkboxChange(i)'>{{kategorija.naziv}}</label>
                    </div>
                </form>
            </div>
            <div>
                <br>
                <h4>podkategorije</h4>
                <form>
                    <div class="checkbox" *ngFor='let podkategorija of podkategorijeIzabrane'>
                        <label><input type="checkbox" value="">{{podkategorija.naziv}}</label>
                    </div>
                </form>
            </div>
            <div>
                <br>
                <h4>autor</h4>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-9 col-lg-9 col-xl-9">
            <p class="naslov display-4">oglasi</p>
            <div class="container-fluid">
                <div class="row okvir-oglasa" *ngFor='let e of oglasi' (click)="clickOgl(e.id)">
                    <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7 lead">
                        <p>{{e.naslov}}</p>
                        <p>{{e.tekst}}</p>
                        <br>
                        <p>Kateg: {{e.kategorijaID}} / Podkateg: {{e.potkategorijaID}} / Autor: {{e.korisnikID}}</p>
                    </div>
                    <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
                        <img class="img-fluid img-thumbnail mx-auto d-block" 
                             [src]="e.foto01 ? apiUrl + '/' + e.foto01 : './../../../assets/slike/no-image-available.png'" 
                             alt="nema slike">
                    </div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <button type="button" class="btn btn-info btn-block mt-2" 
                                                      *ngIf="oglKliknut && (e.id == oglKliknutId)" 
                                                      (click)="proslediId(e.id)">Opširnije...</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

