img {
    max-height: none;
}

@media(max-width: 800px) {
    img {
        max-height: 400px;
    }
}

.kategorijeBoja {
    color: #A52A2A;
}

.podkategorijeBoja {
    color: #FF8C00;
}

.kat-pod {
    background-color: Lavender;
    text-align: center;
    font-weight: bold;
    color: MidnightBlue;
}

.naslov-ogl {
    font-size: 1.3em;
    font-weight: bold;
    color: DarkSlateGray;
}

