.okvir-oglasa {
    border: brown 1px solid;
    border-radius: 10px;
    padding: 10px 0px;
    margin-bottom: 10px;


    -webkit-transition: 0.3s;
    transition: 0.3s;

    /*height: 300px;*/
    /*overflow: hidden;*/
}

.okvir-oglasa:hover {
    box-shadow: 0px 2px 12px 0px rgba(30, 79, 0, 0.9);
    cursor: pointer;
}

img {
    max-height: none;
}

@media(max-width: 800px) {
    img {
        max-height: 400px;
    }
}

.kategorijeBoja {
    color: #A52A2A;
}

.podkategorijeBoja {
    color: #D2691E;
}

