<div class="container-fluid">
    <div class="naslov display-4">Svi Vaši oglasi</div>
    <br><br>
    <div class="lead" *ngIf="duzinaNiza == 0">Još uvijek niste postavili nijedan oglas.</div>
    <div class="row okvir-oglasa" *ngFor='let oglas of oglasi' (click)="kliknutOglas(oglas.id)">
        <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7 lead">
            <div class="kat-pod">
                {{oglas.kategorija.naziv}} - {{oglas.podkategorija.naziv}}
            </div>
            <br>
            <p class="naslov-ogl">{{oglas.naslov}}</p>
            <p>{{oglas.tekst}}</p>
            <br>
        </div>
        <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
            <img class="" [src]="oglas.fotografije ? apiUrl + '/' + (oglas.fotografije | prvaFotoNiza) : 
                                                       './../../../assets/slike/no-image-available.png'" alt="nema slike">
        </div>
    </div>
    <!-- <pre>
        {{oglasi | json}}
    </pre> -->
</div>

