<p class="naslov display-4">Prijava</p>

<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3"></div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">

            <form [formGroup]='formaPrijava' (ngSubmit)='prijavi(formaPrijava)'>
                <div class="form-group">
                    <label for="korisnicko">Korisničko ime</label>
                    <input type="text" id="korisnicko" class="form-control"  placeholder="Unesite korisničko ime" formControlName='username'>
                    <div class="alert alert-danger" role="alert" *ngIf="formaPrijava.controls['username'].hasError('required') && 
                                                                    (formaPrijava.controls['username'].touched || formaPotvrdjena)">
                        Niste unijeli korisničko ime!
                    </div>
                </div>
                <div class="form-group">
                    <label for="lozinka">Lozinka</label>
                    <input type="password" id="lozinka" class="form-control"  placeholder="Unesite lozinku" formControlName='password'>
                    <div class="alert alert-danger" role="alert" *ngIf="formaPrijava.controls['password'].hasError('required') && 
                                                                    (formaPrijava.controls['password'].touched || formaPotvrdjena)">
                        Niste unijeli lozinku!
                    </div>
                </div>
                <br>
                <button type="submit" class="form-control btn btn-primary">Prijavi se</button>
            </form>
        </div>
        <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3"></div>
    </div>
</div>

