<div class="container-fluid">
    <fieldset [disabled]='dodPotkat'>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                <label for="kategorije1">Sve kategorije</label>
                <select id="kategorije1" name="kategorije" class="custom-select" [(ngModel)]='odabranaKategorija' 
                                                                                 (ngModelChange)='filtrirajPotkategorije()'>
                    <option [ngValue]='prvaKategorija'>{{prvaKategorija.naziv}}</option>
                    <option *ngFor='let e of kategorije' [ngValue]='e'>{{e.naziv}}</option>
                </select>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                <div class="form-group">
                    <label for="potkategorije1">Pripadajuće potkategorije</label>
                    <select id="potkategorije1" class="custom-select" name="potkategorije" [(ngModel)]='odabranaPotkategorija' 
                                                                                           [disabled]='odabranaKategorija.id == -1'>
                        <option [ngValue]='prvaPotkategorija'>{{prvaPotkategorija.naziv}}</option>
                        <option *ngFor='let e of filtriranePotkategorije' [ngValue]='e'>{{e.naziv}}</option>
                    </select>
                </div>
            </div>

            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                <br>
                <div class="container-fluid">
                    <div class="row mt-2">
                        <div class="col-4">
                            <button type="button" class="btn btn-info btn-block" [disabled]='odabranaKategorija.id==-1' 
                                                                                 (click)='dodPotkategoriju()'>Dodaj</button>
                        </div>
                        <div class="col-4">
                            <button type="button" class="btn btn-info btn-block" [disabled]='odabranaPotkategorija.id==-1'>Izmijeni</button>
                        </div>
                        <div class="col-4">
                            <button type="button" class="btn btn-info btn-block" [disabled]='odabranaPotkategorija.id==-1'>Ukloni</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>

    <br>

    <div class="row" *ngIf='dodPotkat'>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    <label for="katIzab">Pripadajuća kategorija:</label>
                    <input type="text" id="katIzab" class="form-control" disabled [(ngModel)]='odabranaKategorija.naziv'>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    <label for="potkat">Upišite ime nove potkategorije:</label>
                    <input type="text" id="potkat" class="form-control" [(ngModel)]='nazivNovePotkategorije'>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    <button type="button" class="btn btn-success mt-2 mr-2" (click)='dodajPotkategoriju()'>Dodaj</button>
                    <button type="button" class="btn btn-danger mt-2" (click)='dugmeOtkazi()'>Otkaži</button>
                </div>
            </div>
        </div>
    </div>

</div>

